<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul>
      <li>first</li>
      <li>twice</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
    <div class="card-block">
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
      <app-car-card/>
    </div>
  </div>

</mat-drawer-container>
